.textTitle {
    font-family: Helvetica;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0em;
    margin-bottom: 16px;

}

.textSubtitle {

    font-family: Helvetica;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0em;
}